<div class="row">
  <div class="small-4 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "student_details" %>
  </div>

  <div class="small-4 columns">
    <% if logged_in? && current_user.role == "admin" %>
      <!-- SIDEBAR CONTENT GOES HERE -->
      <%= render partial: 'register_this_student' %>
    <% end %>
  </div>

  <div class="small-4 columns">
    <% if logged_in? && current_user.role == "admin" %>
      <!-- SIDEBAR CONTENT GOES HERE -->
      <%= render partial: 'camps_registered' %>
    <% end %>
  </div>
</div>