<div class="row">
  <div class="small-4 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <% if logged_in? && current_user.role == "admin" %>
      <%= render partial: 'register_for_this_camp' %>
    <% else %>
      <br /><br /><br /><%= image_tag 'RichiePlaying1.jpg', class: "right", width: "300" %>
    <% end %>
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <% if logged_in? && (current_user.role == "admin" || current_user.role == "instructor") %>
      <%= render partial: 'students_registered' %>
    <% end %>
  </div>
</div>