<div class="row">
  <div class="small-4 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "family_details" %>
  </div>

  <div class="small-3 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'family_children' %>
  </div>

  <div class="small-5 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'family_payments' %>
  </div>

</div>