<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "registration_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>
</div>