<div class="panel clearfix">
	
	<h4>Read What Others Are Saying About Our Camps!</h4>

	<p>"I love A&M Chess Camps! My son took Principles of Chess last summer. Afterward, his score went up 300 points! Couldn't be prouder." - Virginia Breen</p>

	<p>"Mastering Chess Tactics is a great camp to take if your child has some chess experience and wants to improve their skills for tournaments. After my daughter took this class, she won her first chess competition! Thank you A&M!" - Andrew McBride</p>

	<p>"For the longest time, my child would not even touch a chess board. After sending them to A&M, they had so much fun and discovered their talent for chess! Now we play together almost every day when they come home from school." - Debbie Bonker</p>

</div>