<h2>Welcome Chess Parents!</h2>

<p><%= image_tag 'AlexPlaying10.jpg', class: "left", width: "200" %> The A &amp; M 
  Chess Camps have been rated as the finest chess camps in the United States. 
  Our curriculums are guaranteed to improve your child's chess-playing skills, or your money back.  
  The links above will tell you more about our camps, curriculums, locations and 
  instructors. In the future will actually allow you to register your child
  for those camps. Right now you must call us to register your child (sorry).
</p>