<h1>Welcome Chess Parents!</h1>

<p><%= image_tag 'AlexPlaying10.jpg', class: "left", width: "200" %> The A &amp; M 
  Chess Camps have been rated as the finest chess camps in the United States. 
  Our curriculums are guaranteed to improve your child's chess-playing skills, or your money back.  
  The links above will tell you more about our camps, curriculums, locations and 
  instructors. Call and register your child today! All ages and playing levels are welcome.
</p>