<h1>About A&M Chess Camp</h1>

<body>
    <div class="row">
      <div class="small-6 columns">
        <!-- MAIN CONTENT GOES HERE -->
        <p>We know about how important chess is to you.  We know 
		how much you love it and how it is a part of 
		your social life.  Although we live in the 'Steel City' 
		and the people here are tough, we also know your chess skills 
		are amazing but there is always room for improvement. 
		That's why the instructors at A&M Chess Camp are committed 
		to giving you and your children and friends only the best instruction at 
		the most affordable prices.  Come visit our primary location 
		in Alex and Mark's basement and see how you can become a chess master.</p>

		<p>This is an amazing set of camps and if you don't send 
		your kid to this, they will be missing out on a great chess camp experience. 
		Do you really want your child's spirit crushed by 
		continual defeats in chess tournaments? That's exactly what will 
		happen if they don't enroll in some of our camps. If you care about 
		your child, you'll enroll them in every possible camp 
		we offer. Show you really care and DO IT NOW!<p>
      </div>

      <div class="small-6 columns">
        <!-- SIDE CONTENT GOES HERE -->
        <%= image_tag 'BoysPlaying2.jpg', class: "left" %>
      </div>
    </div>

</body>