<h2>About A & M Chess Camps</h2>

<body>
    <div class="row">
      <div class="small-6 columns">
        <!-- MAIN CONTENT GOES HERE -->
        <p>At A&M Chess Camps, our instructors are committed to providing the best instruction at 
		the most affordable prices. Our chess camps started as a small initiative in Alex and Mark's 
		basement in 2010, and since then we have expanded to other places in Pittsburgh. In future years,
		we plan to expand to other cities in Pennsylvania and other states. Our original initiative 
		started with a dream, which has no become a reality for Alex and Mark, and as a family-oriented
		company, we could not be prouder of their accomplishments. Come visit our primary location 
		in Alex and Mark's basement and see how you can improve your chess-pkaying skills in a fun, 
		family-friendly environment.</p>
      </div>

      <div class="small-6 columns">
        <!-- SIDE CONTENT GOES HERE -->
        <%= image_tag 'BoysPlaying2.jpg', class: "left" %>
      </div>
    </div>

</body>