<h2>Contact A &amp; M Chess Camps</h2>

<p> <%= image_tag 'Kelsey1.jpg', class: "left", width: 175 %> 
If you would like to register your child for one of our camps, or if you have any comments or concerns, here is our contact information. Here at A&M Chess Camps, we always welcome your feedback.</p>

<table cellpadding="3" class="table">
  <tr>
    <td>Administrator:&nbsp;&nbsp;&nbsp;</td>
    <td>Gale Bonker</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("gbonker@razingrooks.org", "gbonker@razingrooks.org", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>412-459-8693</td>
  </tr>
</table>
