<% unless @camps.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Camps at <%= @location.name %>:</h5>
    <ul class="side-nav">
      <% @camps.each do |camp| %>
        <li><%= link_to "#{camp.start_date.strftime('%B %e, %Y')}: #{camp.name}", camp_path(camp) %></li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5><%= @location.name %> has not been used</h5>
  </div>
<% end %>