<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "active_locations" %>
    <br />
  </div>

  <div class="small-5 columns">
    <% if logged_in? %>
      <!-- SIDEBAR CONTENT GOES HERE -->
      <%= render partial: 'inactive_locations' %>
    <% end %>
    <%= image_tag 'tables1.jpg', class: "center", width: "600" %>
  </div>
</div>